
Singleton Design Pattern Example/obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
Singleton Design Pattern Example/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Singleton Design Pattern Example/obj/Debug/Singleton Design Pattern Example.csproj.AssemblyReference.cache
